<footer class="footer">
    <address class="footer__container container">
        <div class="footer__top">
            <p class="footer__address">
                г.Голицыно, Минское шоссе, д.  45 (47-й км Минского шоссе или 30 км от МКАД).
            </p>
            <div class="footer__wrapper">
                <ul class="footer__items footer__items--contacts">
                    <li class="footer__item">
                        <a class="footer__link" href="mailto:relax@gmail.com">
                            relax@gmail.com
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="tel:+71995892575">
                            +7 (984) 589-25-75
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="tel:+72411842970">
                            +7 (986) 149-20-65
                        </a>
                    </li>
                </ul>
                <ul class="footer__items footer__items--messages">
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">
                            Viber
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">
                            WhatsApp
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">
                            Telegram
                        </a>
                    </li>
                </ul>
                <ul class="footer__items footer__items--menu">
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">
                            О нас
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">
                            Комплексы
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">
                            Проживание
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">
                            Услуги
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">
                            Предложения
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">
                            Контакты
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <a class="footer__subtext" href="#" target="_blank">Соглашение на обработку данных</a>
            <a class="footer__logo logo" href="#">
                <img class="logo__img" src="img/logo.svg" alt="Логотип" width="46" height="74" loading="lazy">
            </a>
            <span class="footer__subtext">© Relax. Все права защищены</span>
        </div>
    </address>
</footer>