.complex-card {
	&--accent {
		.complex-card__info {
			right: unset;
			@include adaptiv-value('left', 0, 130, 1);
			color: $white;
			background-color: $dark-800;
			transform: translate(-50%, -50%);

			@include mq(lg) {
				top: unset;
				left: unset;
				transform: translate(0);
			}
		}

		.complex-card__about {
			margin-left: auto;
		}

		.complex-card__number {
			&--price {
				&::before {
					background-image: url('../img/icons/wallet-white.svg');
				}
			}

			&--people {
				&::before {
					background-image: url('../img/icons/people-white.svg');
				}
			}
		}
	}

	&__about {
		width: 100%;
		max-width: 590px;
		@include adaptiv-value('margin-bottom', 30, 20, 1);

		@include mq(lg) {
			max-width: 100%;
		}
	}

	&__content {
		position: relative;

		@include mq(lg) {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	&__title {
		@include adaptiv-value('margin-bottom', 20, 15, 1);
	}

	&__text {
		p {
			&:not(:last-child) {
				@include adaptiv-value('margin-bottom', 15, 10, 1);
			}
		}
	}

	&__swiper {
		width: 100%;
		max-width: 825px;
		@include flex-column-v-center;

		@include mq(lg) {
			max-width: 100%;
		}
	}

	&__img {
		width: 100%;
		@include adaptiv-value('height', 320, 280, 1);
		object-fit: cover;
		border-radius: 10px;

		@include mq(lg) {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	.swiper-pagination {
		bottom: 25px;
		display: none;
		justify-content: center;

		@include mq(lg) {
			display: flex;
		}
	}

	.swiper-pagination-bullet {
		width: 15px;
		height: 15px;
		background-color: $white;
		opacity: 1;
		transition: background-color 0.4s;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	.swiper-pagination-bullet-active {
		background-color: $yellow-600;
	}

	&__items {
		margin-bottom: 20px;

		@include mq(lg) {
			margin-bottom: 0;
		}
	}

	&__info {
		position: absolute;
		top: 50%;
		@include adaptiv-value('right', 0, 130, 1);
		z-index: 5;
		width: 100%;
		max-width: 336px;
		padding: 25px;
		background-color: $grey-400;
		border-radius: 10px;
		transform: translate(50%, -50%);

		@include mq(lg) {
			position: relative;
			right: 0;
			bottom: 0;
			max-width: 100%;
			margin-top: -10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			transform: translate(0);
		}
	}

	&__characteristics,
	&__numbers {
		@include adaptiv-value('margin-bottom', 20, 15, 1);
	}

	&__characteristics {
		@include mq(lg) {
			gap: 15px;
			column-count: 2;
		}

		@include mq(sm) {
			column-count: 1;
		}
	}

	&__characteristic {
		position: relative;
		padding-left: 25px;

		&::before {
			position: absolute;
			@include adaptiv-value('top', 8, 4, 1);
			left: 0;
			width: 10px;
			height: 10px;
			background-color: $yellow-600;
			border-radius: 50%;
			content: '';
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__numbers {
		@include flex-center-sb;
		font-weight: $fw-600;

		@include mq(lg) {
			margin-bottom: 0;
		}

		@include mq(sm) {
			justify-content: space-between;
			width: 100%;
			margin-bottom: 15px;
		}
	}

	&__price {
		margin-right: 10px;
	}

	&__number {
		position: relative;
		display: inline-block;
		padding-left: 40px;

		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			width: 30px;
			height: 30px;
			transform: translateY(-50%);
			content: '';
			@include bg-conatin;
		}

		&--price {
			&::before {
				background-image: url('../img/icons/wallet.svg');
			}
		}

		&--people {
			&::before {
				background-image: url('../img/icons/people.svg');
			}
		}

		&:not(:last-child) {
			margin-right: 10px;

			@include mq(lg) {
				margin-right: 30px;
			}

			@include mq(sm) {
				margin-right: 10px;
			}
		}
	}

	&__bottom {
		@include mq(lg) {
			@include flex-center-sb;
		}

		@include mq(sm) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__order {
		width: 100%;

		@include mq(lg) {
			width: auto;
		}

		@include mq(sm) {
			width: 100%;
		}
	}

	&__buttons {
		display: flex;

		@include mq(lg) {
			display: none;
		}
	}

	&__button {
		@include swiper-button;
	}
}
