.services {
	&__title {
		width: 100%;
		max-width: 590px;

		@include mq(lg) {
			max-width: 100%;
            margin-bottom: 60px;
		}
	}

	&__content {
		position: relative;
	}

	&__swiper {
		position: static;
	}

    &__item {
        width: 100%;
        max-width: 50%;
        padding-right: 10px;

        &:nth-child(odd) {
           z-index: 5;
        }

        &--width {
            max-width: 100%;
        }

        @include mq(md) {
            max-width: unset;
        }
    }

	&__buttons {
		position: absolute;
		top: -80px;
		right: 0;
		display: flex;

        @include mq(lg) {
            top: -50px;
            right: unset;
            left: 0;
        }
	}

	&__button {
		@include swiper-button;
	}
}