.services {
	&__title {
		width: 100%;
		max-width: 590px;

		@include mq(lg) {
			max-width: 100%;
            margin-bottom: 60px;
		}
	}

	&__content {
		position: relative;
	}

	&__swiper {
		position: static;
	}

    &__item {
        &:nth-child(odd) {
           z-index: 5;
        }
    }

	&__buttons {
		position: absolute;
		top: -80px;
		right: 0;
		display: flex;

        @include mq(lg) {
            top: -50px;
            right: unset;
            left: 0;
        }
	}

	&__button {
		@include swiper-button;
	}
}
