/* stylelint-disable */

@mixin font-face($font-family, $url, $weight) {
    @font-face {
        font-family: "#{$font-family}";
        src: url('../fonts/#{$url}.woff2') format("woff2"),
        url('../fonts/#{$url}.woff') format("woff");
        font-weight: #{$weight};
        font-display: swap;
        font-style: normal;
    }
}

//Open Sans
@include font-face(OpenSans, OpenSans-Regular, 400);
@include font-face(OpenSans, OpenSans-SemiBold, 600);
@include font-face(OpenSans, OpenSans-Bold, 700);

//Old Standard TT
@include font-face(OldStandardTT, OldStandardTT-Regular, 400);
@include font-face(OldStandardTT, OldStandardTT-Bold, 700);

//ModernAntiqua
@include font-face(ModernAntiqua, ModernAntiqua-Regular, 400);

//OpenSans-SemiBold