/* stylelint-disable */

// * colors
$white: #ffffff;
$black: #000000;

$dark-800: #323232;
$yellow-600: #e9c400;
$grey-400: #f3f3f3;

// * fonts
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$openSans: 'OpenSans';
$oldStandardTT: 'OldStandardTT';
$modernAntiqua: 'ModernAntiqua';
