.graph-modal {
	--transition-time: 0.3s;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	vertical-align: middle;
	background-color: rgba($dark-800, 0.6);
	visibility: hidden;
	cursor: pointer;
	opacity: 0;
	transition: opacity var(--transition-time), visibility var(--transition-time);

	&__container {
		position: relative;
		display: none;
		width: 100%;
		max-width: 1164px;
		margin: 50px auto;
		text-align: left;
		vertical-align: middle;
		cursor: default;

		&.graph-modal-open {
			display: inline-block;
			width: 100%;
			max-width: 1164px;
		}
	}

	&__box {
		position: relative;
		width: 100%;
		@include flex-all-center;

		@include mq(md) {
			max-width: 588px;
			margin: 0 auto;
		}
	}

	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 24px;
		height: 24px;
		background-image: url('./../img/icons/close.svg');
	}

	&__content {
		display: flex;
		width: 100%;
		max-width: 1164px;
	}

	&__bg {
		@include bg-cover;
		width: 100%;
		max-width: 580px;

		@include mq(md) {
			display: none;
		}
	}

	&__form {
		border-radius: 0 10px 10px 0;

		@include mq(md) {
			border-radius: 10px;
		}
	}

	&.is-open {
		visibility: visible;
		opacity: 1;
		transition: opacity var(--transition-time),
			visibility var(--transition-time);
	}
}

.fade {
	opacity: 0;
	transition: opacity var(--transition-time);

	&.animate-open {
		opacity: 1;
		transition: opacity var(--transition-time);
	}
}

.fadeInUp {
	transform: translateY(-100px);
	opacity: 0;
	transition: transform var(--transition-time), opacity var(--transition-time);

	&.animate-open {
		transform: translateY(0);
		opacity: 1;
		transition: transform var(--transition-time), opacity var(--transition-time);
	}
}
